USE [master]
GO
/****** Object:  Database [GymManagement]    Script Date: 5/11/2020 4:56:17 PM ******/
CREATE DATABASE [GymManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gym management', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Gym management.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Gym management_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Gym management_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GymManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GymManagement]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 5/11/2020 4:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodeMember] [nchar](10) NOT NULL,
	[FullName] [nvarchar](250) NOT NULL,
	[DOB] [date] NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[RegistrationDate] [datetime] NOT NULL,
	[ExpirationDate] [date] NULL,
	[NumberTraining] [int] NULL,
	[NumberRemaining] [int] NULL,
	[Status] [bit] NULL,
	[IsDelete] [bit] NULL,
	[Image] [nvarchar](max) NULL,
	[TimeIn] [datetime] NOT NULL,
	[TimeOut] [datetime] NULL,
	[SpaceTime] [datetime] NULL,
	[Age] [int] NULL,
	[TypeOfSeviceId] [int] NOT NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOfService]    Script Date: 5/11/2020 4:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfService](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Money] [int] NULL,
 CONSTRAINT [PK_TypeOfService] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_TypeOfService] FOREIGN KEY([TypeOfSeviceId])
REFERENCES [dbo].[TypeOfService] ([Id])
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_Member_TypeOfService]
GO
/****** Object:  StoredProcedure [dbo].[CreateOrUpdateTypeOfService]    Script Date: 5/11/2020 4:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CreateOrUpdateTypeOfService]
	-- Add the parameters for the stored procedure here
	@Id int = 0,
       @Name varchar(250),
       @Money int = null
      
AS
declare @Return int = 0
BEGIN
	
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	IF @Id = 0
    -- Insert statements for procedure here
	begin
	INSERT INTO TypeOfService
              (Id, Name, Money)
       VALUES
              (@Id, @Name, @Money)
	SET @Return = 1
	end
	else
	begin
	UPDATE TypeOfService SET Name = @Name, Money = @Money
              WHERE Id =@Id	
			  
			  set @Return = 2	
	end

	select @Return As Retrun
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteTypeOfServiceById]    Script Date: 5/11/2020 4:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DeleteTypeOfServiceById]
	-- Add the parameters for the stored procedure here
	@Id int 
            
AS
declare @Return int = 0
BEGIN
	
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
		
	Delete TypeOfService 
	WHERE Id =@Id 

	Set @Return = 1 

	Select @Return as ReturnValue

END
GO
/****** Object:  StoredProcedure [dbo].[GetTypeOfServiceAll]    Script Date: 5/11/2020 4:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetTypeOfServiceAll]
	-- Add the parameters for the stored procedure here
	
            
AS

BEGIN
	
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
		
	Select * from TypeOfService


END
GO
/****** Object:  StoredProcedure [dbo].[GetTypeOfServiceById]    Script Date: 5/11/2020 4:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetTypeOfServiceById]
	-- Add the parameters for the stored procedure here
	@Id int 
            
AS

BEGIN
	
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
		
	Select * from TypeOfService 
	WHERE Id =@Id 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllMember]    Script Date: 5/11/2020 4:56:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		quanmb
-- Create date: 11/5/2020
-- Description:	get All Member
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetAllMember]
	-- Add the parameters for the stored procedure here       
	@Statistical bit = 0
AS

BEGIN
	
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
		
	Select  *
	
	from Member m join TypeOfService tos
	on m.TypeOfSeviceId= tos.Id and
	m.IsDelete = 0

END
GO
USE [master]
GO
